.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
margin: 5px 10px !important;
border-radius: 5px;
padding: 10px 15px;
}

.box-case {
  background-color: #4d4d4d;
  box-shadow: 0 0 32px -10px #000;
  padding: 20px;
}

.box-death {
	background-color: #d32a41;
box-shadow: 0 0 32px -10px red;
padding: 20px;
}

.box-recover {
  background-color: #19ad57;
  box-shadow: 0 0 32px -10px #0f5;
  padding: 20px;
}

.box .WWIcons{
  font-size: 1.1rem;
margin: 5px 0;
display: block;
}


.WCDR {
  display: block;
  box-sizing: border-box;
  text-align: center !important;
  display: block;
  font-family: 'Varela Round' !important;
  font-size: 1.1em;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.829);
  margin: 25px 0 10px 0 !important;
  width: 100%;
}

.WWCases {
  color: rgb(255, 255, 255);
  display: inline-block;
  text-align: left;
  background-color: #4d4d4d;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 32px -10px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 32px -10px rgb(0, 0, 0);
  box-shadow: 0px 0px 32px -10px rgb(0, 0, 0);
  margin: 5px 10px !important;
}

.WWIcons {
  display: block;
  font-size: 1.1rem;
  margin: 5px 0;
  display: block;
}


.WWtodayResults {
  color: rgb(255, 255, 255);
  margin-left: 3px;
  padding: 0.5px 2px;
  font-size: 0.6rem;
  vertical-align: middle;
  background-color: #c92137;
  border-radius: 3px;
  border: 1px #ff5050 solid;
}